<!DOCTYPE html>
<html lang="en">

<head>
<title>BG服務</title>
<style>
    form { 
          margin-left : 2%;
          margin-top : 2%; 
          width:250px;
    }
    input {
          padding:5px;
          margin-bottom: 5px;
    }
</style>
</head>

<body>
<form id="bghost" method="POST" action="/status">
      站台: <input type="text" name="host" id="host" value="http://av11186.bgbet3.com" required /><br>
      帳號: <input type="text" name="name" id="name" required /><br>
      密碼: <input type="password" name="password" id="password" required /><br>
      驗證碼: <input type="text" name="captchaCode" id="captchaCode" required/><img id="imageid" src=""><br>
      <input type="hidden" id="captchaKey" name="captchaKey" value="">
      <input type="submit">
</form>
<script>
document.getElementById("captchaCode").onfocus = function() {
   function genKey() {
      let key = '';
      let possible = "0123456789";
      for (let idx = 0; idx < 10; idx++) {
            key += possible.charAt(Math.floor(Math.random() * possible.length));
      }
      return key;
   }
   var host = document.getElementById("host");
   if(host.value.length > 0)
      var key = genKey();
      document.getElementById("imageid").src = host.value + "/zb-cloud/api.do?pa=captcha.next&key=" + key;
      document.getElementById("captchaKey").value = key; 
}
</script> 
</body>

</html>