<!DOCTYPE html>
<html lang="en">

<head>
<title>BG服務狀態</title>
<style>
table {
  margin-left: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
<script>
setInterval(
      function() {
            location.reload();
      },
      60*1000
);
</script> 
</head>

<body>
<p>測試環境</p>
<table>
      <tr>
            <th>網址</th>
            <th>帳號</th>
            <th>更新時間</th>
      </tr>
      <tr>
            <td><%= host %></td>
            <td><%= userid %></td>
            <td id="timeid"></td>
      </tr>
</table>
<p></p>
<p>接口狀態</p>
<table>
      <tr>
            <th>接口</th>
            <th>功能</th>
            <th>狀態</th>
      </tr>
      <% items.forEach(function(item) { %>
        <tr>
            <td><%= item["name"] %></td>
            <td><%= item["desc"] %></td>
            <td style=<%= item["color"] %> ><%= item["status"] %></td>
        </tr>
      <% }); %>
</table>
<script>
function checkTime(i) {
  if (i < 10) {
    i = "0" + i;
  }
  return i;
}
var now = new Date();
var h = now.getHours();
var m = now.getMinutes();
var s = now.getSeconds();
m = checkTime(m);
s = checkTime(s);
document.getElementById("timeid").innerHTML = h + ":" + m + ":" + s;
</script> 
</body>

</html>